# Python
__pycache__/
*.pyc
venv/
.venv/

# Node / Next.js
node_modules/
.next/

# Environment variables
.env

# Editor
.vscode/
# Ignore ChromaDB and SQLite database files
*.sqlite3
/backend/data/chroma/
*.bin
